.files-page {
  display: flex;

  .table-wrapper {
    flex: 1;
    margin: 0 var(--common-space);
  }
  .upload-wrapper {
    flex-basis: var(--right-bar-width);
  }

  .arco-switch {
    width: 100%;
  }
}